@media screen and (max-device-width: 576px) {
	#intro .intro-container {
		width: 75vw;
	}

	#intro .intro-container h1 {
		font-size: 40px;
	}

	#intro .intro-container p {
		line-height: 58px;
		font-size: 32px;
		letter-spacing: -1.5%;
		font-weight: 500;
		font-style: italic;
		margin-bottom: 3rem;
	}

	/* FIXED ELEMENTS */

	#sun .sun-img {
		width: 80vw;
		height: 80vw;
	}

	#bg {
		position: fixed;
		left: 0;
		transform: translate3d(0, 100vh, 0);
	}

	#bg .bg-img {
		height: 300vw;
		width: 250vw;
		font-size: 0;
		transform: translateX(-50vw);
	}

	#inspired {
		font-size: 32px;
		line-height: 58px;
		width: 90%;
	}
}
